
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidebar-box">
    <form action="#" class="search-form">
        <div class="form-group">
            <span class="icon icon-search"></span>
            <input type="text" class="form-control" placeholder="Aranacak Kelimeyi Giriniz">
        </div>
    </form>
</div>